@model PES_EdTech_APP.Models.QuizRequestViewModel

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.cshtml.css">


<form asp-controller="Home" asp-action="QuizPreference" method="get">

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-4">
                    <h1 class="text-center">Quizify: AI Quiz Creator</h1>

                    <!-- Input Section -->
                    <div id="input-section">
                        <div class="input-group mt-3">
                            <textarea id="input-text" name="inputText" class="form-control" placeholder="Enter your text..."></textarea>
                            <button class="btn btn-light" disabled><i class="fa fa-microphone"></i></button>
                            <button class="btn btn-light" disabled><i class="fa fa-camera"></i></button>
                            <button class="btn btn-light" onclick="document.getElementById('fileInput').click();">
                                <i class="fa fa-file"></i>
                            </button>
                            <input type="file" id="fileInput" style="display:none" onchange="handleFileSelection()">
                        </div>

                        <!-- File Name Display -->
                        <div id="file-name" class="file-label hidden"></div>

                        <!-- Go Next Button -->
                        <button class="btn btn-success w-100 mt-3" type="submit">Go Next</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    @* <button id="goNextButton" class="btn btn-success w-100 mt-3 hidden" type="submit">Go Next</button> *@
</form>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/Views/Home/Index.cshtml.js")"></script>
}